<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/bonus.css" />
    <title>ふみふみあくせる</title>
    <script type="text/javascript" src='./js/bonus.js'></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="whole">
        <div class="title">Bonus Time</div>
        <div class="bonus_layout">
            <div class="bonus">
                <div class="red_bonus"></div>
                <span id="red"></span>
            </div>
            <div class="bonus">
                <div class="blue_bonus"></div>
                <span id="blue"></span>
            </div>
            <div class="bonus">
                <div class="white_bonus"></div>
                <span id="white"></span>
            </div>
        </div>
    </div>
  </body>
</html>