<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/countdown.css" />
    <title>ふみふみあくせる</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js"></script>
    <script type="text/javascript" src='./js/change.js'></script>
    <script type="text/javascript" src='./js/countdown.js'></script>
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Kiwi+Maru&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">  </head> -->
  <body>
    <div id="box" class="css1">
        <div id="msg"></div>
    </div>
    
  </body>
</html>