<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/gameover.css" />
    <title>ふみふみあくせる</title>
    <script type="text/javascript" src='./js/gameover.js'></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="gameover_layout">
        <span class="tytle">Game Over</span>
        <div class="score_layout">
            <span>〜 Score：</span>
            <span class="final_score"></span>
            <span>〜</span>
        </div>
    </div>
  </body>
</html>
