<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/home.css" />
    <title>ふみふみあくせる</title>
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Kiwi+Maru&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">  </head> -->
  <body>
    <div class="whole">
      <div class="start_layout">
        <div class="start_title">ふみふみあくせる</div>
        <div class="subtitle">スタートボタンを押すと5秒後に開始！</div>
      </div>
      <div class="method">
        <div>操作方法</div>
        <div>・右移動：右と中央操作盤を交互に押す</div>
        <div>・左移動：左と中央操作盤を交互に押す</div>
      </div>
    </div>
  </body>
</html>