body {
    display: flex;
    background-color: #676a6c;
    color: #FFFFFF;
    text-align: center;
    -webkit-text-stroke: 1px #000000;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

.gameover_layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 0px;
}

.tytle {
    color:#fbfe99;
    font-weight: bold;
    -webkit-text-stroke: 1px #000000;
    font-size: 100px;
}

.score_layout {
    display: flex;
    font-size: 50px;
}

.score {
    padding: 0px 20px;
    font-weight: bold;
}