body {
    display: flex;
    background-color: #676a6c;
    color: #FFFFFF;
    text-align: center;
    -webkit-text-stroke: 1px #000000;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", serif;
    font-weight: 500;
}

.whole {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.score_layout {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 50px;
    font-size: 60px;
    gap: 40px;
    text-align: left;
}

.title {
    color:#fbfe99;
    font-size: 100px;
}

.rank_layout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 40px;
    background-color: #a8aba67b;
    border-radius: 20px;
    padding: 30px 80px;
}

.ranking {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 25px;
}

.lv_layout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.next {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score {
    padding: 0px 20px;
    font-size: 90px;
}

.rank {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.subtitle {
    font-size: 60px;
    color:#ffb87d;
}

.red {
    color:#e57575;
}